<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krinky</title>
    <link rel="stylesheet" href="/style/Krinky.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="header">
            <div class="head">
                <img style="margin-left: 50px;" src="/image/logo.svg" alt="" width="200">
                <ul class="bar">
                    <li><a class="home" href="#">HOME</a></li>
                    <li><a class="home" href="#services">SERVICE</a></li>
                    <li><a class="home" href="#skill">SKILLS</a></li>
                    <li><a class="home" href="#PORTFOLIO">PORTFOLIO</a></li>
                    <li><a class="home" href="#contact">CONTACT</a></li>
                </ul>
                <button class="btn switch">CONTACT NOW</button>
            </div>
        </div>
    </header>
    <section>

        <div class="sec right">
            <div class="left">
                <h6>👋, MY NAME IS KRINKY</h6>
                <h1>I'm a
                    <ul class="course">
                        <li>Designer</li>
                        <li>Developer</li>
                    </ul>
                </h1>
                <p class="los">Based in Los Angeles, California.</p>
                <button class="btn">LET'S START</button>
            </div>

            <div class="right-conatiner ">
                <img src="/image/home-banner.png" alt="">
            </div>

        </div>

    </section>

    <section>
        <div class="nav">
            <div class="nav-slide ">
                <ul class="owl-carousel nav-logo">
                    <li class="item"><img style="width: 100px;" src="/image/brand-1.svg" alt=""></li>
                    <li class="item"><img style="width: 100px;" src="/image/brand-2.svg" alt=""></li>
                    <li class="item"><img style="width: 100px;" src="/image/brand-3.svg" alt=""></li>
                    <li class="item"><img style="width: 100px;" src="/image/brand-4.svg" alt=""></li>
                    <li class="item"><img style="width: 100px;" src="/image/brand-5.svg" alt=""></li>
                    <li class="item"><img style="width: 100px;" src="/image/brand-6.svg" alt=""></li>
                    <li class="item"><img style="width: 100px;" src="/image/brand-7.svg" alt=""></li>
                    <li class="item"><img style="width: 100px;" src="/image/brand-1.svg" alt=""></li>
                    <li class="item"><img style="width: 100px;" src="/image/brand-2.svg" alt=""></li>
                    <li class="item"><img style="width: 100px;" src="/image/brand-3.svg" alt=""></li>
                    <li class="item"><img style="width: 100px;" src="/image/brand-4.svg" alt=""></li>
                    <li class="item"><img style="width: 100px;" src="/image/brand-5.svg" alt=""></li>
                </ul>

            </div>
        </div>
    </section>


    <section>
        <div class="photo">
            <div class="profile">
                <img src="/image/aboutme-banner.png" alt="">
            </div>
            <div class="skill">
                <h3>I'm a Freelancer Front-end Developer with over 3 years of experience.</h3>
                <p class="about">I'm a Freelancer Front-end Developer with over 3 years of experience. I'm from San
                    Francisco. I code and create web elements for amazing people around the world. I like work with new
                    people. New people new Experiences.</p>
                <div class="project">
                    <div class="pro-complete">
                        <h5>285+</h5>
                        <span>Project Completed</span>
                    </div>
                    <div class="client">
                        <h5>190+</h5>
                        <span>Happy Client</span>
                    </div>
                </div>
                <div class="vutton">
                    <div class="button1">
                        <button class="btn switch">CONTACT NOW</button </div>
                    </div>
                    <div class="button2">
                        <button class="btn2 swi">PORTFOLIO</button </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="stat" id="services">
            <div class="service">
                <h1>MY SERVICES </h1>
            </div>
            <div class="stat2">

                <div class="stat-left">
                    <div class="fornt bg">
                        <div class="icon">
                            <i class="fas fa-mobile" aria-hidden="true"></i>
                        </div>
                        <div class="left-front">
                            <h5>Web Design</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="fornt bg2">
                        <div class="icon">
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                        </div>
                        <div class="left-front">
                            <h5>SEO Marketing</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="fornt bg3">
                        <div class="icon">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </div>
                        <div class="left-front">
                            <h5>Development</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>


                <div class="stat-left">
                    <div class="fornt bg4">
                        <div class="icon">
                            <i class="fa fa-laptop" aria-hidden="true"></i>
                        </div>
                        <div class="left-front">
                            <h5>Development</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="fornt bg5">
                        <div class="icon">
                            <i class="fa fa-columns" aria-hidden="true"></i>
                        </div>
                        <div class="left-front">
                            <h5>Web Design</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="fornt bg6">
                        <div class="icon">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                        </div>
                        <div class="left-front">
                            <h5>SEO Marketing</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="skills " id="skill">
            <div class="my-skill">
                <h2>MY SKILLS</h2>

                <div class="skill-name ">
                    <div class="left-container">
                        <div class="skis bg lg">

                            <div class="icon-col">
                                <i class="fab fa-html5" aria-hidden="true"></i>
                            </div>
                            <h6>HTML</h6>
                        </div>
                    </div>
                    <div class="left-container">
                        <div class="skis bg2 lg">
                            <div class="icon-col">
                                <i class="fab fa-react js" aria-hidden="true"></i>
                            </div>
                            <h6>React JS</h6>
                        </div>
                    </div>
                    <div class="left-container">
                        <div class="skis bg3 lg">
                            <div class="icon-col">
                                <i class="fab fa-apple" aria-hidden="true"></i>
                            </div>
                            <h6>iOs App</h6>
                        </div>
                    </div>
                </div>

            </div>
            <div class="my-skill sk">
                <div class="left-container">
                    <div class="skis bg4 lg">

                        <div class="icon-col">
                            <i class="fab fa-css3" aria-hidden="true"></i>
                        </div>
                        <h6>CSS</h6>
                    </div>
                </div>
                <div class="left-container">
                    <div class="skis bg5 lg">
                        <div class="icon-col">
                            <i class="fab fa-angular" aria-hidden="true"></i>
                        </div>
                        <h6>Angular</h6>
                    </div>
                </div>
                <div class="left-container">
                    <div class="skis bg6 lg">
                        <div class="icon-col">
                            <i class="fab fa-android" aria-hidden="true"></i>
                        </div>
                        <h6>App Dev</h6>
                    </div>
                </div>
            </div>
            <div class="right-img">
                <img src="/image/skills.png" alt="">
            </div>
        </div>
    </section>

    <section>
        <div class="work">
            <div class="with-me">
                <div class="me">
                    <h4>Intrested working with me?</h4>
                </div>
                <div class="work-btn">
                    <button class="btn-col switch-col">CONTACT NOW</button>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="my-project" id="PORTFOLIO">
            <div class="latest">
                <h3>Latest Projects</h3>
            </div>
            <div class="best-pro">
                <div class="left-pro">
                    <img class="gallery-img" src="/image/project-1.jpg" alt="" width="500">
                    <a href="/image/project-1.jpg" class="gallery-link
                    "> <i class="fas fa-arrow-right"></i> </a>
                </div>
                <div class="right-pro">
                    <h6><span>Web Design</span></h6>
                    <h4>Website Design for Marketing Agency Startup</h4>
                    <p>I design and develop services for customers of all sizes, specializing in creating stylish,
                        modern websites, web services and online stores</p>
                    <div class="button3">
                        <button class="btn3 swi ">View Project</button </div>
                    </div>
                </div>

            </div>
            <div class="best-pro">
                <div class="right-pro">
                    <h6><span>Web Design</span></h6>
                    <h4>Website Design for Marketing Agency Startup</h4>
                    <p>I design and develop services for customers of all sizes, specializing in creating stylish,
                        modern websites, web services and online stores</p>
                    <div class="button3">
                        <button class="btn3 swi ">View Project</button </div>
                    </div>
                </div>
                <div class="left-pro">
                    <img class="gallery-img" src="/image/project-2.jpg" alt="" width="500">
                    <a href="/image/project-2.jpg" class="gallery-link
                    "> <i class="fas fa-arrow-right"></i> </a>
                </div>

            </div>
            <div class="best-pro">
                <div class="left-pro">
                    <img class="gallery-img" src="/image/project-3.jpg" alt="" width="500">
                    <a href="/image/project-3.jpg" class="gallery-link
                    "> <i class="fas fa-arrow-right"></i> </a>
                </div>
                <div class="right-pro">
                    <h6><span>Web Design</span></h6>
                    <h4>Website Design for Marketing Agency Startup</h4>
                    <p>I design and develop services for customers of all sizes, specializing in creating stylish,
                        modern websites, web services and online stores</p>
                    <div class="button3">
                        <button class="btn3 swi ">View Project</button </div>
                    </div>
                </div>

            </div>
            <div class="best-pro">
                <div class="right-pro">
                    <h6><span>Web Design</span></h6>
                    <h4>Website Design for Marketing Agency Startup</h4>
                    <p>I design and develop services for customers of all sizes, specializing in creating stylish,
                        modern websites, web services and online stores</p>
                    <div class="button3">
                        <button class="btn3 swi ">View Project</button </div>
                    </div>
                </div>
                <div class="left-pro">
                    <img class="gallery-img" src="/image/project-4.jpg" alt="" width="500">
                    <a href="/image/project-4.jpg" class="gallery-link
                    "> <i class="fas fa-arrow-right"></i> </a>
                </div>

            </div>
        </div>
    </section>
    <section class="section-col">
        <div class="story-img">
            <div class="text">
                <h3>TESTIMONIAL</h3>
            </div>
            <div class="feature-col">
                <div class="feature bs">
                    <div class="icon-img">
                        <img class="img-feature" src="/image/avatar-1.jpg" alt="">

                    </div>
                    <div class="left-feature">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been
                            the industry's standard dummy text ever since the 1500s.</p>
                        <h6>Jennifer Lutheran</h6>
                        <span class="ceo">CEO at pxdraft</span>
                    </div>
                </div>
                <div class="feature bs">
                    <div class="icon-img">
                        <img class="img-feature" src="/image/avatar-2.jpg" alt="">
                    </div>
                    <div class="left-feature">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been
                            the industry's standard dummy text ever since the 1500s.</p>
                        <h6>Jennifer Lutheran</h6>
                        <span class="ceo">CEO at pxdraft</span>
                    </div>
                </div>
                <div class="feature bs ">
                    <div class="icon-img">
                        <img class="img-feature" src="/image/avatar-3.jpg" alt="">
                    </div>
                    <div class="left-feature">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been
                            the industry's standard dummy text ever since the 1500s.</p>
                        <h6>Jennifer Lutheran</h6>
                        <span class="ceo">CEO at pxdraft</span>
                    </div>
                </div>
                <div class="feature bs ">
                    <div class="icon-img">
                        <img class="img-feature" src="/image/avatar-4.jpg" alt="">
                    </div>
                    <div class="left-feature">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been
                            the industry's standard dummy text ever since the 1500s.</p>
                        <h6>Jennifer Lutheran</h6>
                        <span class="ceo">CEO at pxdraft</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="sec-footer">
            <div class="left-footer">

                <h6>Get in touch</h6>
                <p class="form-col">Our friendly team would love to hear from you.</p>
                <form action="">
                    <div class="form">
                        <div class="form-name">
                            <label for="Name">Name</label> <br>
                            <input type="text" name="" id="" placeholder="Name *">
                        </div>
                        <div class="form-email">
                            <label for="Email">Email</label> <br>
                            <input type="email" name="" id="" placeholder="Email *">
                        </div>

                    </div>
                    <div class="sub">
                        <label for="">Subject</label> <br>
                        <input type="text" name="" id="" class="form-contact" placeholder="Subject *">
                    </div>
                    <div class="message">
                        <label for="" class="your">Your Message</label>
                        <textarea name="" id="" rows="6" placeholder="Your Message *" class="form-contact "></textarea>
                    </div>
                    <div class="work-btn">
                        <button class="btn-col switch-col con">CONTACT NOW</button>
                    </div>

                </form>

            </div>
            <div class="right-footer" id="contact">
                <div class="img-footer">
                    <img src="/image/contact-bg.png" alt="" width="400">
                    <div class="footter">
                        <div class="min-footer">

                            <div class="icon-row ">
                                <i class="fas fa-envelope"></i>
                            </div>
                            <div class="phone">
                                <h6>PHONE</h6>
                                <p>+01 123 654 8096</p>
                            </div>

                        </div>
                        <div class="min-footer">

                            <div class="icon-row b1 ">
                                <i class="fas fa-phone"></i>
                            </div>
                            <div class="phone">
                                <h6>MAIL</h6>
                                <p>info@domainname.com</p>
                            </div>

                        </div>
                        <div class="min-footer">

                            <div class="icon-row b2">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="call">
                                <h6>VISIT MY STUDIO</h6>
                                <p>Warnwe Park Streetperrine,
                                    FL 33157 New York City</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <hr>
    <div class="last-footer">
        <div class="last-left-footer">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            <i class="fab fa-twitter-square" aria-hidden="true"></i>
            <i class="fab fa-instagram" aria-hidden="true"></i>
            <i class="fab fa-linkedin" aria-hidden="true"></i>
            <i class="fab fa-pinterest-square" aria-hidden="true"></i>
        </div>
        <div class="last-right-footer">
            <p>© 2022 copyright all right reserved</p>
        </div>
    </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/script/Krinky.js"></script>
</body>

</html>